  <launch>
    <arg name="map_size_x" value="20.0"/>
    <arg name="map_size_y" value="8.0"/>
    <arg name="map_size_z" value=" 3.0"/>

    <arg name="odom_topic" value="/mm/car/odom" />
    <arg name="joint_state_topic" value="/mm/mani/joint_state" />
    <arg name="joint_cmd_topic" value="/mm_controller_node/joint_cmd" />
    <arg name="gripper_cmd_topic" value="/mm_controller_node/gripper_cmd"/>
    <arg name="gripper_state_topic" value="/mm/mani/gripper_state"/>
    <arg name="map_resolution" default="0.05" />
    <arg name="init_x" default="-3.0"/>
    <arg name="init_y" default="0.0"/>
    <arg name="init_yaw" default="0.0"/>
    <arg name="init_j1" default="0.0"/>
    <arg name="init_j2" default="-120.0"/>
    <arg name="init_j3" default="140.0"/>
    <arg name="init_j4" default="0.0"/>
    <arg name="init_j5" default="-90.0"/>
    <arg name="init_j6" default="0.0"/>
    <arg name="arm_activation_enabled" default="true"/>
    <arg name="manipulator_safe_collision_check" default="false"/>
    <arg name="weight_arm_activation" default="0.8"/>
    <arg name="weight_arm_activation_vel" default="0.05"/>
    <arg name="arm_activation_full_dist" default="1.20"/>
    <arg name="arm_activation_release_dist" default="0.35"/>
    <arg name="arm_activation_clearance_dist" default="0.55"/>
    <arg name="arm_activation_clearance_release_dist" default="0.25"/>
    <arg name="arm_activation_collision_skip_weight" default="1.10"/>
    <arg name="base_motion_regularization_enabled" default="false"/>
    <arg name="weight_base_progress" default="25.0"/>
    <arg name="base_progress_margin" default="0.05"/>
    <arg name="weight_base_yaw_rate" default="0.0"/>
    <arg name="weight_base_yaw_acc" default="0.0"/>
    <arg name="flexible_goal_enabled" default="true"/>
    <arg name="ik_goal_enabled" default="true"/>
    <arg name="min_approach_standoff" default="0.02"/>
    <arg name="flexible_goal_yaw_range" default="0.40"/>
    <arg name="flexible_goal_yaw_samples" default="5"/>
    <arg name="flexible_goal_yaw_weight" default="0.15"/>
    <arg name="random_seed" default="2"/>
    <arg name="base_only_frontend_enabled" default="true"/>
    <arg name="base_only_release_dist" default="1.20"/>
    <arg name="base_only_check_dt" default="0.05"/>
    <arg name="base_only_max_arm_delta" default="10.0"/>

    <arg name="generate_map_size_x" default="8"/>
    <arg name="generate_map_size_y" default="8"/>
    <arg name="generate_map_size_z" default="3"/>
    <arg name="exp_param_file" default="$(find remani_planner)/config/remani_planner_exp0.yaml"/>

    <!-- main algorithm params -->
    <include file="$(find remani_planner)/launch/advanced_param_sim.xml">
      <arg name="map_size_x_"             value="$(arg map_size_x)"/>
      <arg name="map_size_y_"             value="$(arg map_size_y)"/>
      <arg name="map_size_z_"             value="$(arg map_size_z)"/>
      <arg name="exp_param_file"          value="$(arg exp_param_file)"/>
      <!-- camera pose: transform of camera frame in the world frame -->
      <!-- depth topic: depth image, 640x480 by default -->
      <!-- don't set cloud_topic if you already set these ones! -->
      <arg name="odometry_topic" value="$(arg odom_topic)"/>
      <arg name="joint_state_topic" value="$(arg joint_state_topic)"/>
      <arg name="joint_cmd_topic" value="$(arg joint_cmd_topic)"/>
      <arg name="gripper_cmd_topic" value="$(arg gripper_cmd_topic)"/>
      <arg name="gripper_state_topic" value="$(arg gripper_state_topic)"/>
      <arg name="init_x" value="$(arg init_x)"/>
      <arg name="init_y" value="$(arg init_y)"/>
      <arg name="init_yaw" value="$(arg init_yaw)"/>
      <arg name="init_j1" value="$(arg init_j1)"/>
      <arg name="init_j2" value="$(arg init_j2)"/>
      <arg name="init_j3" value="$(arg init_j3)"/>
      <arg name="init_j4" value="$(arg init_j4)"/>
      <arg name="init_j5" value="$(arg init_j5)"/>
      <arg name="init_j6" value="$(arg init_j6)"/>
      <arg name="arm_activation_enabled" value="$(arg arm_activation_enabled)"/>
      <arg name="manipulator_safe_collision_check" value="$(arg manipulator_safe_collision_check)"/>
      <arg name="weight_arm_activation" value="$(arg weight_arm_activation)"/>
      <arg name="weight_arm_activation_vel" value="$(arg weight_arm_activation_vel)"/>
      <arg name="arm_activation_full_dist" value="$(arg arm_activation_full_dist)"/>
      <arg name="arm_activation_release_dist" value="$(arg arm_activation_release_dist)"/>
      <arg name="arm_activation_clearance_dist" value="$(arg arm_activation_clearance_dist)"/>
      <arg name="arm_activation_clearance_release_dist" value="$(arg arm_activation_clearance_release_dist)"/>
      <arg name="arm_activation_collision_skip_weight" value="$(arg arm_activation_collision_skip_weight)"/>
      <arg name="base_motion_regularization_enabled" value="$(arg base_motion_regularization_enabled)"/>
      <arg name="weight_base_progress" value="$(arg weight_base_progress)"/>
      <arg name="base_progress_margin" value="$(arg base_progress_margin)"/>
      <arg name="weight_base_yaw_rate" value="$(arg weight_base_yaw_rate)"/>
      <arg name="weight_base_yaw_acc" value="$(arg weight_base_yaw_acc)"/>
      <arg name="flexible_goal_enabled" value="$(arg flexible_goal_enabled)"/>
      <arg name="ik_goal_enabled" value="$(arg ik_goal_enabled)"/>
      <arg name="min_approach_standoff" value="$(arg min_approach_standoff)"/>
      <arg name="flexible_goal_yaw_range" value="$(arg flexible_goal_yaw_range)"/>
      <arg name="flexible_goal_yaw_samples" value="$(arg flexible_goal_yaw_samples)"/>
      <arg name="flexible_goal_yaw_weight" value="$(arg flexible_goal_yaw_weight)"/>
      <arg name="random_seed" value="$(arg random_seed)"/>
      <arg name="base_only_frontend_enabled" value="$(arg base_only_frontend_enabled)"/>
      <arg name="base_only_release_dist" value="$(arg base_only_release_dist)"/>
      <arg name="base_only_check_dt" value="$(arg base_only_check_dt)"/>
      <arg name="base_only_max_arm_delta" value="$(arg base_only_max_arm_delta)"/>
      <arg name="camera_pose_topic" value="pcl_render_node/camera_pose"/>
      <arg name="depth_topic" value="pcl_render_node/depth"/>
      <!-- topic of point cloud measurement, such as from LIDAR  -->
      <!-- don't set camera pose and depth, if you already set this one! -->
      <arg name="cloud_topic" value="pcl_render_node/cloud"/>
      <!-- intrinsic params of the depth camera -->
      <arg name="cx" value="321.04638671875"/>
      <arg name="cy" value="243.44969177246094"/>
      <arg name="fx" value="387.229248046875"/>
      <arg name="fy" value="387.229248046875"/>
    </include>

    <!-- use simulator -->
    <include file="$(find remani_planner)/launch/simulator.xml">
      <arg name="map_size_x_" value="$(arg map_size_x)"/>
      <arg name="map_size_y_" value="$(arg map_size_y)"/>
      <arg name="map_size_z_" value="$(arg map_size_z)"/>
      <arg name="exp_param_file" value="$(arg exp_param_file)"/>
      <arg name="odometry_topic" value="$(arg odom_topic)" />
      <arg name="joint_state_topic" value="$(arg joint_state_topic)" />
      <arg name="joint_cmd_topic" value="$(arg joint_cmd_topic)" />
      <arg name="gripper_cmd_topic" value="$(arg gripper_cmd_topic)"/>
      <arg name="gripper_state_topic" value="$(arg gripper_state_topic)"/>
      <arg name="map_resolution" value="$(arg map_resolution)" />
      <arg name="init_x" value="$(arg init_x)"/>
      <arg name="init_y" value="$(arg init_y)"/>
      <arg name="init_yaw" value="$(arg init_yaw)"/>
      <arg name="init_j1" value="$(arg init_j1)"/>
      <arg name="init_j2" value="$(arg init_j2)"/>
      <arg name="init_j3" value="$(arg init_j3)"/>
      <arg name="init_j4" value="$(arg init_j4)"/>
      <arg name="init_j5" value="$(arg init_j5)"/>
      <arg name="init_j6" value="$(arg init_j6)"/>
    </include>

    <!-- map -->
    <node pkg ="map_generator" name ="map_generator" type ="map_generator" output = "screen">   
        <rosparam file="$(find remani_planner)/config/mm_param.yaml"/>
        <rosparam file="$(arg exp_param_file)"/>
        <param name="map/x_size"     value="$(arg generate_map_size_x)" />
        <param name="map/y_size"     value="$(arg generate_map_size_y)" />
        <param name="map/z_size"     value="$(arg generate_map_size_z)" />
        <param name="map/resolution" value="$(arg map_resolution)"/>    
        <param name="map/seed"    value="30"/>
        
        <param name="map/obs_num"    value="20"/>
        <param name="map/float_obs_num"    value="30"/>      

        <param name="ObstacleShape/radius_l" value="0.3"/>
        <param name="ObstacleShape/radius_h" value="0.5"/>        
        <param name="ObstacleShape/z_l" value="0.9"/>
        <param name="ObstacleShape/z_h" value="1.2"/>
        <param name="ObstacleShape/theta" value="0.5"/>
    
        <param name="pub_rate"   value="1.0"/>  
        <param name="min_distance" value="1.2 "/>         
    </node>

  </launch>
